target/
Cargo.lock
Cargo.toml.orig


**/*.rs.bk
**/*.rlib
**/*.rmeta
**/*.so
**/*.dll
**/*.dylib
**/*.exe
**/*.prof
**/*.gc*

**/*.dSYM
**/*.pdb
**/*.pdb.lock
**/debug/
**/release/
**/.rustc_info.json
**/.rustc_metadata.bin

.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp


*.iml
*.ipr
*.iws

.DS_Store
Thumbs.db
